#wrapper {
    margin: 0 auto;
    background: aliceblue;
    max-width: 1024px;
    border: solid 1px #efefef;
    padding: 1em;
}
main {
    background: #fffbe3;
    min-height: 2em;
    border: solid gray 2px;
    padding: 1rem;
}

.container {
  /* width: 100%; */
  width: 75%;
  margin: 2rem auto;
  height: 100vh;
  padding: 20px;
  border: solid red 5px;
  display: flex;
  max-height: 200px;
}

.form {
  align-self: center;
  border: solid 2px blue;
  display: flex;
  justify-content: center;
  min-height: 20px;
  margin: 0 auto;
  padding: 15px;
}

.counter {
  text-align: center;
}

/*  INSTRUCTIONS
-------------------------------------------*/
.instructions ol,
.instructions ul {
    padding-left: 1.3rem;
}
.instructions ol > li {
    margin-bottom: .3rem;
}
.instructions ul {
    /* padding-top: .3rem; */
}
.instructions hr {
    margin-bottom: 1em;
}

/*  CODE
-------------------------------------------*/
.code xmp {
    color: green;
    background: #f9f9f9;
    padding: .6rem;
    border: solid 1px;
    border-radius: .6rem;
}








































