#wrapper {
    margin: 0 auto;
    background: aliceblue;
    max-width: 1024px;
    border: solid 1px #efefef;
    padding: 1em;
}
main {
    background: #fffbe3;
    min-height: 2em;
    border: solid gray 2px;
    padding: 1rem;
}

.container {
  /* width: 100%; */
  width: 75%;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  border: solid red 5px;
  display: flex;
}

.form {
  align-self: center;
  border: solid 2px blue;
  display: flex;
  justify-content: center;
  min-height: 20px;
  margin: 0 auto;
  padding: 15px;
}

.counter {
  text-align: center;
}